<a href="https://colab.research.google.com/github/bmukhammadaliev/Data-Science-and-AI/blob/main/DS_3_Modul_3_Amaliyot_tozalash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ![Imgur](https://i.imgur.com/5pXzCIu.png)

# **DATA SCIENCE VA SUN'IY INTELLEKT PRAKTIKUM**

## 3.2 Ma'lumotlarni tayyorlash

# **AMALIYOT**
## Ma'lumotlarga ishlov berish

In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv("https://raw.githubusercontent.com/mukhammad-irmatov/health_dataset/main/healt_info.csv")
df.head(3)

,Sno,AGE,SEX,CASTE_NAME,CATEGORY_CODE,CATEGORY_NAME,SURGERY_CODE,SURGERY,VILLAGE,MANDAL_NAME,...,CLAIM_DATE,CLAIM_AMOUNT,HOSP_NAME,HOSP_TYPE,HOSP_DISTRICT,SURGERY_DATE,DISCHARGE_DATE,Mortality Y / N,MORTALITY_DATE,SRC_REGISTRATION
0,1,56,Female,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Lolugu,Ponduru,...,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,06-08-2013 00:00,07-09-2013 00:00,NO,NaN,D
1,2,37,Male,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Borivanka,Kaviti,...,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,08-08-2013 00:00,09-09-2013 00:00,NO,NaN,D
2,3,50,Male,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Kapasakuddi,Kaviti,...,22-03-2017 20:25,11500,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,15-08-2013 00:00,18-10-2013 00:00,NO,NaN,D

Bu dataset sug'urta kompaniyasining real ma'lumotlardan tuzilgan. Bu datasetda 480000 qator sug'urta ma'lumotlar tashkil topgan.
Quyida datasetning ba'zi ustunlari haqida qisqacha ma'lumot

*   Sno = seriya raqami 
*   AGE = yoshi
*   SEX = jinsi (female = ayol, male = erkak)
*   CASTE_NAME = kasta nomi (Hindistonda har bir inson ma'lum bir kastaga oid bo'ladi)
*   CATEGORY_CODE = kategoriya kodi
*   CATEGORY_Name = kategoriya nomi
*   SURGERY_CODE = operatsiya kodi
*   Mandal_Name = mandal nomlanishi ya'ni familiyasi desak ham bo'ladi
*   Mortality Y/N = vafot etgan yoki vafot etmaganligi
*   MORTALITY_DATE = qachon vafot etganligi

### **1-mashq**. Datasetdagi barcha takrorlangan qatorlar sonini toping

In [15]:
# Javobni shuyerga yozing

df.duplicated().sum()

0

In [ ]:
#@title **To'g'ri javob**
sum(df.duplicated())

#### **2-mashq**. Datasetdagi quyidagi ustunlar o'chirib yuborilsin:<br>
*   Sno
*   CATEGORY_CODE
*   SURGERY_CODE
*   MANDAL_NAME
*   DISTRICT_NAME
*   HOSP_DISTRICT
<BR>

In [17]:
# Javobni shuyerga yozing
df.drop(['Sno', 'CATEGORY_CODE', 'SURGERY_CODE', 'MANDAL_NAME', 'DISTRICT_NAME', 'HOSP_DISTRICT'], axis=1, inplace=True)
df

,AGE,SEX,CASTE_NAME,CATEGORY_NAME,SURGERY,VILLAGE,PREAUTH_DATE,PREAUTH_AMT,CLAIM_DATE,CLAIM_AMOUNT,HOSP_NAME,HOSP_TYPE,SURGERY_DATE,DISCHARGE_DATE,Mortality Y / N,MORTALITY_DATE,SRC_REGISTRATION
0,56,Female,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Lolugu,03-08-2013 20:38,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,06-08-2013 00:00,07-09-2013 00:00,NO,NaN,D
1,37,Male,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Borivanka,06-08-2013 07:26,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,08-08-2013 00:00,09-09-2013 00:00,NO,NaN,D
2,50,Male,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Kapasakuddi,09-08-2013 18:30,12500,22-03-2017 20:25,11500,"Rims Govt. General Hospital, Srikakulam",G,15-08-2013 00:00,18-10-2013 00:00,NO,NaN,D
3,45,Male,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Telikipenta,24-08-2013 19:37,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,24-08-2013 00:00,27-09-2013 00:00,NO,NaN,D
4,54,Male,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Thandemvalasa,28-08-2013 17:03,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,31-08-2013 00:00,02-10-2013 00:00,NO,NaN,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335389,65,Male,SC,OPHTHALMOLOGY SURGERY,Vitrectomy Plus Silicon Oil Or Gas (14.75),Chintalapudi,08-06-2017 06:40,23320,04-08-2017 21:23,23320,Sankar Eye Hospital,C,09-06-2017 00:00,10-06-2017 00:00,NO,NaN,D
335390,54,Female,OC,MEDICAL ONCOLOGY,Chemotherapy for Breast Cancer with Paclitaxel,Udayagiri @ Kondayapale,05-06-2017 22:35,7140,02-08-2017 19:11,7140,BASAVATARAKAM INDO AMERICAN CANCER HOSPITAL an...,C,06-06-2017 00:00,06-06-2017 00:00,NO,NaN,D
335391,19,Female,SC,MEDICAL ONCOLOGY,Palliative Chemotherapy for unlisted Regimen,Vinduru,06-06-2017 06:13,5000,04-10-2017 19:46,5000,M.N.J.Hospitals,G,09-06-2017 00:00,10-06-2017 00:00,NO,NaN,D
335392,50,Male,BC,GENITO URINARY SURGERIES,ursl,Duppituru,05-06-2017 23:37,25000,04-08-2017 20:59,25000,GAJUWAKA HOSPITALS PVT LTD RK HOSPITAL,C,06-06-2017 00:00,10-06-2017 00:00,NO,NaN,D
335393,46,Female,SC,MEDICAL ONCOLOGY,Chemotherapy for Cervical Cancer with Weekly C...,Ananthavaram,06-06-2017 23:02,2040,09-08-2017 19:43,2040,SURYA GLOBAL MULTI SPECIALITY HOSPITALS AND CA...,C,07-06-2017 00:00,07-06-2017 00:00,NO,NaN,MC

In [ ]:
#@title **To'g'ri javob**
df.drop(['Sno','CATEGORY_CODE','SURGERY_CODE','MANDAL_NAME','DISTRICT_NAME','HOSP_DISTRICT'],axis='columns',inplace=True)
df

#### **3-mashq**. Datasetdagi sex(jinsi) nomli qatordagi qiymatlarni unique funksiyasi orqali tekshiring.

In [18]:
# Javobni shuyerga yozing
df.SEX.unique()

array(['Female', 'Male', 'Male(Child)', 'Female(Child)', 'FEMALE'],
      dtype=object)

In [ ]:
#@title **To'g'ri javob**
df["SEX"].unique()

#### **4-mashq**. Datasetdagi sex(jinsi) nomli qatordagi qiymatlarni **Erkak** va **Ayol** ga o'zgartiring:
O'zgartirish quyidagicha bo'lsin:


*   Male -> Erkak
*   Male(child) -> Erkak
*   Female - > Ayol
*   Female(child) - Ayol
*   MALE -> Erkak
*   FEMALE -> Ayol

In [26]:
# Javobni shuyerga yozing

change = {'Male': 'Erkak', 'Male(Child)': 'Erkak', 'Female': 'Ayol', 'Female(Child)': 'Ayol', 'MALE': 'Erkak', 'FEMALE': 'Ayol'}
df['SEX'].replace(change, inplace=True)
df.sample(10)

,AGE,SEX,CASTE_NAME,CATEGORY_NAME,SURGERY,VILLAGE,PREAUTH_DATE,PREAUTH_AMT,CLAIM_DATE,CLAIM_AMOUNT,HOSP_NAME,HOSP_TYPE,SURGERY_DATE,DISCHARGE_DATE,Mortality Y / N,MORTALITY_DATE,SRC_REGISTRATION
52694,31,Erkak,BC,CARDIAC AND CARDIOTHORACIC SURGERY,Coronary Balloon Angioplasty with Drug eluting...,Utla Palem,21-09-2016 19:08,65010,10-01-2017 20:58,65010,Sri Venkateswara Institute Of Medical Sciences,G,22-09-2016 00:00,24-09-2016 00:00,NO,NaN,D
119286,31,Erkak,BC,POLY TRAUMA,Surgical Treatment (Up To) for Neuro Surgical ...,Kasimkota,01-12-2016 18:16,150000,10-10-2017 19:21,73200,King George Hospital,G,30-11-2016 00:00,04-12-2016 00:00,YES,04-12-2016 00:00,D
315599,35,Erkak,BC,MEDICAL ONCOLOGY,Chemotherapy With Temozolamide (brain tumours),Kankipadu (U),20-05-2017 15:58,10210,06-07-2017 20:24,10210,Nagarjuna Hospital,C,23-05-2017 00:00,23-05-2017 00:00,NO,NaN,D
71611,0,Erkak,OC,PEDIATRICS,Medical management of term Baby With Septicemi...,Kappalle,21-10-2016 17:38,35000,25-05-2017 20:45,30000,S.V.R.R.Hospital,G,15-10-2016 00:00,08-11-2016 00:00,NO,NaN,D
324657,40,Ayol,BC,MEDICAL ONCOLOGY,Chemotherapy for Ovarian cancer with Carboplat...,Veerabhadra Puram,27-05-2017 15:32,11220,05-09-2017 15:27,11220,Ms Mahatma Gandhi Cancer Hospital and Research...,C,27-05-2017 00:00,28-05-2017 00:00,NO,NaN,MC
67244,47,Erkak,OC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Dubhagunta,11-10-2016 19:32,12500,12-01-2017 01:54,12500,Rajiv Gandhi Institute of Medical Sciences RIM...,G,12-10-2016 00:00,02-11-2016 00:00,NO,NaN,D
111380,46,Erkak,OC,CARDIOLOGY,Management Of Acute MI With Angiogram,Chagallu,25-11-2016 19:47,30000,18-01-2017 16:05,25000,Krishna Institute of Medical Sciences Bollinen...,C,23-11-2016 00:00,01-12-2016 00:00,NO,NaN,D
118322,68,Ayol,BC,POLY TRAUMA,Surgical Correction Of Longbone Fracture,Agadur,30-11-2016 16:48,30000,27-02-2017 22:39,30000,Bharathi Hospital,C,02-12-2016 00:00,06-12-2016 00:00,NO,NaN,D
131950,50,Ayol,BC,RADIATION ONCOLOGY,Brachytherapy Intracavitary II. Hdr Per Applic...,Ward-11,14-12-2016 16:33,3250,07-02-2017 21:20,3250,HCG Curie City Cancer Centre Health Care Globa...,C,20-12-2016 00:00,20-12-2016 00:00,NO,NaN,D
165446,56,Erkak,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Geddakancharam,12-01-2017 17:05,12500,11-05-2017 19:15,12500,Maharajah Institute Of Medical Sciences,C,11-01-2017 00:00,22-02-2017 00:00,NO,NaN,D

In [ ]:
#@title **To'g'ri javob**
dict = {"Male":"Erkak","Male(child)":"Erkak", "Female":"Ayol","Female(child)":"Ayol","MALE":"Erkak","FEMALE":"Ayol"}
df["SEX"] = df["SEX"].map(dict)

#### **5-mashq**. Endi xuddi shu SEX columndagi ma'lumotlarni raqamlarga o'zgartiring: Erkaklarni 1 raqamiga, Ayollarni 0 raqamiga o'zgartiring.
*   Erkak -> 1
*   Ayol -> 0

In [ ]:
# Javobni shuyerga yozing

In [ ]:
#@title **To'g'ri javob**
dict2 = {'Erkak':1, 'Ayol':0}
df["SEX"] = df["SEX"].map(dict2)
df.head(5)

#### **6-mashq**. Shu jarayonni HOSP_TYPE ustuni uchun ham amalga oshiring. 
*   G - General hospital (umumiy kasalxona) degani
*   C - Special hospital (maxsus kasalxona) degani
<br><b>O'zgarish quyidagicha bo'lsin:</b>
*   G -> Umumiy 
*   C -> Maxsus

In [ ]:
# Javobni shuyerga yozing

In [ ]:
#@title **To'g'ri javob**
df["HOSP_TYPE"] = df["HOSP_TYPE"].map({'G':"Umumiy", 'C':"Maxsus"})

#### **7-mashq**. O'zgartirish amalga oshirilgach, HOSP_TYPE ustunida qancha Umumiy va qancha Maxsus kasalxonalar borligini ham aniqlang

In [ ]:
# Javobni shuyerga yozing

In [ ]:
#@title **To'g'ri javob**
df["HOSP_TYPE"].value_counts()

#### **8-mashq**. Datasetda qancha takrorlangan qatorlar borligini aniqlang

In [ ]:
# Javobni shuyerga yozing

In [ ]:
#@title **To'g'ri javob**
sum(df.duplicated())

#### **9-mashq**. Datasetda barcha takrorlangan qatorlarni o'chirib yuboring

In [ ]:
# Javobni shuyerga yozing

In [ ]:
#@title **To'g'ri javob**
df.drop_duplicates(inplace=True)

#### **10-mashq**. Datasetdan shifoxona turiga ko'ra (umumiy va maxsus), ClAIM_AMOUNTning o'rtacha qiymatlarini toping.

In [ ]:
# Javobni shuyerga yozing

In [ ]:
#@title **To'g'ri javob**
df.groupby('HOSP_TYPE').CLAIM_AMOUNT.mean()

#### **11-mashq**. Datasetdan shifoxona turiga ko'ra (umumiy va maxsus), ClAIM_AMOUNTning minimum qiymatlarini toping.

In [ ]:
# Javobni shuyerga yozing

In [ ]:
#@title **To'g'ri javob**
df.groupby('HOSP_TYPE').CLAIM_AMOUNT.min()

#### **12-mashq**. Datasetdan shifoxona turiga ko'ra (umumiy va maxsus), CLAIM_AMOUNTning maksimum qiymatlarini toping.

In [ ]:
# Javobni shuyerga yozing

In [ ]:
#@title **To'g'ri javob**
df.groupby('HOSP_TYPE').CLAIM_AMOUNT.max()

.agg() yordamida istalgan funksiyalarni chaqirishimiz mumkin, misol uchun numpy dagi mean (o'rta qiymat) funiksiyasini ham qo'shamiz. Natijalarni faqat price ustuni uchun chiqaramiz:

#### **13-mashq**. Datasetdan jinsiga ko'ra CLAIM_AMOUNTning min, max va o'rta qiymatlarni agg() usuli yordamida toping.

In [ ]:
# Javobni shuyerga yozing

In [ ]:
#@title **To'g'ri javob**
df.groupby('SEX').CLAIM_AMOUNT.agg([min, max, np.mean])