<a href="https://colab.research.google.com/github/bmukhammadaliev/Data-Science-and-AI/blob/main/DS_3_Modul_3_Amaliyot_tozalash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ![Imgur](https://i.imgur.com/5pXzCIu.png)

# **DATA SCIENCE VA SUN'IY INTELLEKT PRAKTIKUM**

## 3.2 Ma'lumotlarni tayyorlash

# **AMALIYOT**
## Ma'lumotlarga ishlov berish

In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv("https://raw.githubusercontent.com/mukhammad-irmatov/health_dataset/main/healt_info.csv")
df.head(3)

,Sno,AGE,SEX,CASTE_NAME,CATEGORY_CODE,CATEGORY_NAME,SURGERY_CODE,SURGERY,VILLAGE,MANDAL_NAME,...,CLAIM_DATE,CLAIM_AMOUNT,HOSP_NAME,HOSP_TYPE,HOSP_DISTRICT,SURGERY_DATE,DISCHARGE_DATE,Mortality Y / N,MORTALITY_DATE,SRC_REGISTRATION
0,1,56,Female,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Lolugu,Ponduru,...,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,06-08-2013 00:00,07-09-2013 00:00,NO,NaN,D
1,2,37,Male,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Borivanka,Kaviti,...,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,08-08-2013 00:00,09-09-2013 00:00,NO,NaN,D
2,3,50,Male,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Kapasakuddi,Kaviti,...,22-03-2017 20:25,11500,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,15-08-2013 00:00,18-10-2013 00:00,NO,NaN,D

Bu dataset sug'urta kompaniyasining real ma'lumotlardan tuzilgan. Bu datasetda 480000 qator sug'urta ma'lumotlar tashkil topgan.
Quyida datasetning ba'zi ustunlari haqida qisqacha ma'lumot

*   Sno = seriya raqami 
*   AGE = yoshi
*   SEX = jinsi (female = ayol, male = erkak)
*   CASTE_NAME = kasta nomi (Hindistonda har bir inson ma'lum bir kastaga oid bo'ladi)
*   CATEGORY_CODE = kategoriya kodi
*   CATEGORY_Name = kategoriya nomi
*   SURGERY_CODE = operatsiya kodi
*   Mandal_Name = mandal nomlanishi ya'ni familiyasi desak ham bo'ladi
*   Mortality Y/N = vafot etgan yoki vafot etmaganligi
*   MORTALITY_DATE = qachon vafot etganligi

### **1-mashq**. Datasetdagi barcha takrorlangan qatorlar sonini toping

In [17]:
# Javobni shuyerga yozing

df.duplicated().sum()

0

In [ ]:
#@title **To'g'ri javob**
sum(df.duplicated())

#### **2-mashq**. Datasetdagi quyidagi ustunlar o'chirib yuborilsin:<br>
*   Sno
*   CATEGORY_CODE
*   SURGERY_CODE
*   MANDAL_NAME
*   DISTRICT_NAME
*   HOSP_DISTRICT
<BR>

In [18]:
# Javobni shuyerga yozing
df.drop(['Sno', 'CATEGORY_CODE', 'SURGERY_CODE', 'MANDAL_NAME', 'DISTRICT_NAME', 'HOSP_DISTRICT'], axis=1, inplace=True)
df

,AGE,SEX,CASTE_NAME,CATEGORY_NAME,SURGERY,VILLAGE,PREAUTH_DATE,PREAUTH_AMT,CLAIM_DATE,CLAIM_AMOUNT,HOSP_NAME,HOSP_TYPE,SURGERY_DATE,DISCHARGE_DATE,Mortality Y / N,MORTALITY_DATE,SRC_REGISTRATION
0,56,Female,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Lolugu,03-08-2013 20:38,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,06-08-2013 00:00,07-09-2013 00:00,NO,NaN,D
1,37,Male,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Borivanka,06-08-2013 07:26,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,08-08-2013 00:00,09-09-2013 00:00,NO,NaN,D
2,50,Male,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Kapasakuddi,09-08-2013 18:30,12500,22-03-2017 20:25,11500,"Rims Govt. General Hospital, Srikakulam",G,15-08-2013 00:00,18-10-2013 00:00,NO,NaN,D
3,45,Male,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Telikipenta,24-08-2013 19:37,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,24-08-2013 00:00,27-09-2013 00:00,NO,NaN,D
4,54,Male,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Thandemvalasa,28-08-2013 17:03,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,31-08-2013 00:00,02-10-2013 00:00,NO,NaN,D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335389,65,Male,SC,OPHTHALMOLOGY SURGERY,Vitrectomy Plus Silicon Oil Or Gas (14.75),Chintalapudi,08-06-2017 06:40,23320,04-08-2017 21:23,23320,Sankar Eye Hospital,C,09-06-2017 00:00,10-06-2017 00:00,NO,NaN,D
335390,54,Female,OC,MEDICAL ONCOLOGY,Chemotherapy for Breast Cancer with Paclitaxel,Udayagiri @ Kondayapale,05-06-2017 22:35,7140,02-08-2017 19:11,7140,BASAVATARAKAM INDO AMERICAN CANCER HOSPITAL an...,C,06-06-2017 00:00,06-06-2017 00:00,NO,NaN,D
335391,19,Female,SC,MEDICAL ONCOLOGY,Palliative Chemotherapy for unlisted Regimen,Vinduru,06-06-2017 06:13,5000,04-10-2017 19:46,5000,M.N.J.Hospitals,G,09-06-2017 00:00,10-06-2017 00:00,NO,NaN,D
335392,50,Male,BC,GENITO URINARY SURGERIES,ursl,Duppituru,05-06-2017 23:37,25000,04-08-2017 20:59,25000,GAJUWAKA HOSPITALS PVT LTD RK HOSPITAL,C,06-06-2017 00:00,10-06-2017 00:00,NO,NaN,D
335393,46,Female,SC,MEDICAL ONCOLOGY,Chemotherapy for Cervical Cancer with Weekly C...,Ananthavaram,06-06-2017 23:02,2040,09-08-2017 19:43,2040,SURYA GLOBAL MULTI SPECIALITY HOSPITALS AND CA...,C,07-06-2017 00:00,07-06-2017 00:00,NO,NaN,MC

In [ ]:
#@title **To'g'ri javob**
df.drop(['Sno','CATEGORY_CODE','SURGERY_CODE','MANDAL_NAME','DISTRICT_NAME','HOSP_DISTRICT'],axis='columns',inplace=True)
df

#### **3-mashq**. Datasetdagi sex(jinsi) nomli qatordagi qiymatlarni unique funksiyasi orqali tekshiring.

In [19]:
# Javobni shuyerga yozing
df.SEX.unique()

array(['Female', 'Male', 'Male(Child)', 'Female(Child)', 'FEMALE'],
      dtype=object)

In [ ]:
#@title **To'g'ri javob**
df["SEX"].unique()

#### **4-mashq**. Datasetdagi sex(jinsi) nomli qatordagi qiymatlarni **Erkak** va **Ayol** ga o'zgartiring:
O'zgartirish quyidagicha bo'lsin:


*   Male -> Erkak
*   Male(child) -> Erkak
*   Female - > Ayol
*   Female(child) - Ayol
*   MALE -> Erkak
*   FEMALE -> Ayol

In [20]:
# Javobni shuyerga yozing

change = {'Male': 'Erkak', 'Male(Child)': 'Erkak', 'Female': 'Ayol', 'Female(Child)': 'Ayol', 'MALE': 'Erkak', 'FEMALE': 'Ayol'}
df['SEX'].replace(change, inplace=True)
df.sample(10)

,AGE,SEX,CASTE_NAME,CATEGORY_NAME,SURGERY,VILLAGE,PREAUTH_DATE,PREAUTH_AMT,CLAIM_DATE,CLAIM_AMOUNT,HOSP_NAME,HOSP_TYPE,SURGERY_DATE,DISCHARGE_DATE,Mortality Y / N,MORTALITY_DATE,SRC_REGISTRATION
188824,48,Erkak,BC,CARDIOLOGY,Medical Management of Refractory Cardiac Failure,Ward-11,03-02-2017 13:04,40000,09-05-2017 18:35,40000,Katuri Medical College And Hospital A unit of...,C,02-02-2017 00:00,13-02-2017 00:00,NO,NaN,D
31432,65,Ayol,BC,CARDIOLOGY,Management Of Acute MI With Angiogram,Ernapadu,13-08-2016 06:49,30000,04-01-2017 20:55,30000,"OMNI Hospitals, a unit of Ms. Incor Padmachand...",C,13-08-2016 00:00,15-08-2016 00:00,NO,NaN,D
76590,55,Erkak,OC,CARDIAC AND CARDIOTHORACIC SURGERY,PTCA 1 Additional Drug eluting Stent (00.46),Mulakalur,23-10-2016 06:10,20400,15-03-2017 19:21,20400,Dr.Ramesh Cardiac And Multispeciality Hospital...,C,20-10-2016 00:00,23-10-2016 00:00,NO,NaN,D
35322,36,Ayol,BC,NEPHROLOGY,Medical Management of AKI,Ward-13,22-08-2016 19:36,19710,09-01-2017 23:10,14310,King George Hospital,G,31-08-2016 00:00,31-08-2016 00:00,NO,NaN,D
106875,7,Erkak,Minorities,PEDIATRICS,Medical Management of Pyogenic Meningitis,Guntur (U),03-12-2016 13:34,27980,31-10-2017 21:24,10000,"Government General Hospital, Guntur",G,19-11-2016 00:00,06-12-2016 00:00,NO,NaN,CMO
307049,32,Erkak,BC,GASTROENTEROLOGY,Medical management of Acute Pancreatitis (Mild),Patha Thungapadu,13-05-2017 19:33,50000,28-12-2017 21:01,20000,SRI ADITYA HOSPITAL,C,11-05-2017 00:00,19-05-2017 00:00,NO,NaN,D
135055,51,Ayol,Minorities,RADIATION ONCOLOGY,Brachytherapy Intracavitary II. Hdr Per Applic...,Brahmanakotkur,15-12-2016 23:55,3250,23-02-2017 19:25,3250,Viswabharathi Cancer Hospital,C,16-12-2016 00:00,17-12-2016 00:00,NO,NaN,D
165558,56,Erkak,Minorities,POLY TRAUMA,Surgical Correction Of Longbone Fracture,Gandlapenta,12-01-2017 17:22,30000,07-03-2017 19:51,15000,TRIVENI HOSPITAL,C,12-01-2017 00:00,16-01-2017 00:00,NO,NaN,D
110937,0,Ayol,SC,PEDIATRICS,Medical management of term Baby With Septicemi...,Penamaluru,25-11-2016 14:50,35000,26-05-2017 19:32,35000,Govt. General Hospital- Vijayawada,G,23-11-2016 00:00,03-12-2016 00:00,NO,NaN,D
186793,42,Ayol,SC,RADIATION ONCOLOGY,Radical Treatment With Photons External Beam R...,Irusumanda,01-02-2017 14:46,66300,08-05-2017 19:28,66300,SURYA GLOBAL MULTI SPECIALITY HOSPITALS AND CA...,C,03-02-2017 00:00,25-03-2017 00:00,NO,NaN,D

In [ ]:
#@title **To'g'ri javob**
dict = {"Male":"Erkak","Male(child)":"Erkak", "Female":"Ayol","Female(child)":"Ayol","MALE":"Erkak","FEMALE":"Ayol"}
df["SEX"] = df["SEX"].map(dict)

#### **5-mashq**. Endi xuddi shu SEX columndagi ma'lumotlarni raqamlarga o'zgartiring: Erkaklarni 1 raqamiga, Ayollarni 0 raqamiga o'zgartiring.
*   Erkak -> 1
*   Ayol -> 0

In [21]:
# Javobni shuyerga yozing
chan = {'Erkak': 1, 'Ayol': 0}
df['SEX'] = df['SEX'].map(chan)
df.sample(7)

,AGE,SEX,CASTE_NAME,CATEGORY_NAME,SURGERY,VILLAGE,PREAUTH_DATE,PREAUTH_AMT,CLAIM_DATE,CLAIM_AMOUNT,HOSP_NAME,HOSP_TYPE,SURGERY_DATE,DISCHARGE_DATE,Mortality Y / N,MORTALITY_DATE,SRC_REGISTRATION
233474,47,0,OC,MEDICAL ONCOLOGY,Chemotherapy for Breast Cancer with Paclitaxel,Sampara,14-03-2017 15:02,7140,24-04-2017 20:36,7140,SURYA GLOBAL MULTI SPECIALITY HOSPITALS AND CA...,C,15-03-2017 00:00,15-03-2017 00:00,NO,NaN,D
208800,53,1,BC,GENITO URINARY SURGERIES,Transurethral Resection of Prostate (TURP),Pasalapudi,22-02-2017 11:04,30000,29-07-2017 19:14,25000,APPLE HOSPITAL A UNIT OF TANUKU HOSPITAL,C,22-02-2017 00:00,07-03-2017 00:00,NO,NaN,D
205782,58,1,BC,OPHTHALMOLOGY SURGERY,Photocoagulation for Retinopathy,Kalyandurg (Rural),17-02-2017 06:44,2040,06-04-2017 21:29,2040,Pushpagiri Eye Hospital,C,17-02-2017 00:00,21-02-2017 00:00,NO,NaN,D
90733,56,1,OC,CARDIAC AND CARDIOTHORACIC SURGERY,PTCA 1 Additional Drug eluting Stent (00.46),Pusulur,05-11-2016 08:34,85010,25-03-2017 01:20,85010,Yashoda Hospitals - Somajiguda,C,05-11-2016 00:00,06-11-2016 00:00,NO,NaN,D
161866,18,1,SC,POLY TRAUMA,Surgical Correction Of Longbone Fracture,Pedapulipaka,09-01-2017 11:48,30000,06-03-2017 14:52,10000,Andhra Health Diagnostic Services LimitedGloba...,C,09-01-2017 00:00,16-01-2017 00:00,NO,NaN,D
182198,60,0,SC,SURGICAL GASTRO ENTEROLOGY,Splenectomy,Jagannadhapuram,29-01-2017 03:00,35000,20-11-2017 19:44,33200,King George Hospital,G,29-01-2017 00:00,21-02-2017 00:00,NO,NaN,D
123488,48,1,BC,CARDIAC AND CARDIOTHORACIC SURGERY,A. V Fistula surgery (creation) At Elbow,Guravaigudem,06-12-2016 02:24,10000,06-07-2017 20:51,10000,Alluri Sitarama Raju Academy Of Medical Scienc...,C,09-12-2016 00:00,10-12-2016 00:00,NO,NaN,D

In [ ]:
#@title **To'g'ri javob**
dict2 = {'Erkak':1, 'Ayol':0}
df["SEX"] = df["SEX"].map(dict2)
df.head(5)

#### **6-mashq**. Shu jarayonni HOSP_TYPE ustuni uchun ham amalga oshiring. 
*   G - General hospital (umumiy kasalxona) degani
*   C - Special hospital (maxsus kasalxona) degani
<br><b>O'zgarish quyidagicha bo'lsin:</b>
*   G -> Umumiy 
*   C -> Maxsus

In [22]:
# Javobni shuyerga yozing

x = {'G': 'Umumiy', 'C': 'Maxsus'}
df['HOSP_TYPE'] = df['HOSP_TYPE'].map(x)
df.head(7)

,AGE,SEX,CASTE_NAME,CATEGORY_NAME,SURGERY,VILLAGE,PREAUTH_DATE,PREAUTH_AMT,CLAIM_DATE,CLAIM_AMOUNT,HOSP_NAME,HOSP_TYPE,SURGERY_DATE,DISCHARGE_DATE,Mortality Y / N,MORTALITY_DATE,SRC_REGISTRATION
0,56,0,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Lolugu,03-08-2013 20:38,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",Umumiy,06-08-2013 00:00,07-09-2013 00:00,NO,NaN,D
1,37,1,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Borivanka,06-08-2013 07:26,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",Umumiy,08-08-2013 00:00,09-09-2013 00:00,NO,NaN,D
2,50,1,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Kapasakuddi,09-08-2013 18:30,12500,22-03-2017 20:25,11500,"Rims Govt. General Hospital, Srikakulam",Umumiy,15-08-2013 00:00,18-10-2013 00:00,NO,NaN,D
3,45,1,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Telikipenta,24-08-2013 19:37,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",Umumiy,24-08-2013 00:00,27-09-2013 00:00,NO,NaN,D
4,54,1,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Thandemvalasa,28-08-2013 17:03,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",Umumiy,31-08-2013 00:00,02-10-2013 00:00,NO,NaN,D
5,35,1,OC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Phasigangupeta,28-08-2013 17:30,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",Umumiy,31-08-2013 00:00,02-10-2013 00:00,NO,NaN,P
6,52,1,OC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Kranti Nagar,30-08-2013 07:53,12500,22-03-2017 20:25,11000,Govt General Hospital Kurnool,Umumiy,31-08-2013 00:00,02-10-2013 00:00,NO,NaN,D

In [ ]:
#@title **To'g'ri javob**
df["HOSP_TYPE"] = df["HOSP_TYPE"].map({'G':"Umumiy", 'C':"Maxsus"})

#### **7-mashq**. O'zgartirish amalga oshirilgach, HOSP_TYPE ustunida qancha Umumiy va qancha Maxsus kasalxonalar borligini ham aniqlang

In [23]:
# Javobni shuyerga yozing

df['HOSP_TYPE'].value_counts()

Maxsus    241139
Umumiy     94255
Name: HOSP_TYPE, dtype: int64

In [ ]:
#@title **To'g'ri javob**
df["HOSP_TYPE"].value_counts()

#### **8-mashq**. Datasetda qancha takrorlangan qatorlar borligini aniqlang

In [25]:
# Javobni shuyerga yozing
df.duplicated().sum()

30

In [ ]:
#@title **To'g'ri javob**
sum(df.duplicated())

#### **9-mashq**. Datasetda barcha takrorlangan qatorlarni o'chirib yuboring

In [28]:
# Javobni shuyerga yozing

df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

In [ ]:
#@title **To'g'ri javob**
df.drop_duplicates(inplace=True)

#### **10-mashq**. Datasetdan shifoxona turiga ko'ra (umumiy va maxsus), ClAIM_AMOUNTning o'rtacha qiymatlarini toping.

In [30]:
# Javobni shuyerga yozing

df.groupby('HOSP_TYPE').CLAIM_AMOUNT.mean()

HOSP_TYPE
Maxsus    30275.151848
Umumiy    22683.770100
Name: CLAIM_AMOUNT, dtype: float64

In [ ]:
#@title **To'g'ri javob**
df.groupby('HOSP_TYPE').CLAIM_AMOUNT.mean()

#### **11-mashq**. Datasetdan shifoxona turiga ko'ra (umumiy va maxsus), ClAIM_AMOUNTning minimum qiymatlarini toping.

In [32]:
# Javobni shuyerga yozing
df.groupby('HOSP_TYPE').CLAIM_AMOUNT.min()

HOSP_TYPE
Maxsus    2
Umumiy    2
Name: CLAIM_AMOUNT, dtype: int64

In [ ]:
#@title **To'g'ri javob**
df.groupby('HOSP_TYPE').CLAIM_AMOUNT.min()

#### **12-mashq**. Datasetdan shifoxona turiga ko'ra (umumiy va maxsus), CLAIM_AMOUNTning maksimum qiymatlarini toping.

In [33]:
# Javobni shuyerga yozing

df.groupby('HOSP_TYPE').CLAIM_AMOUNT.max()

HOSP_TYPE
Maxsus    520000
Umumiy    520000
Name: CLAIM_AMOUNT, dtype: int64

In [ ]:
#@title **To'g'ri javob**
df.groupby('HOSP_TYPE').CLAIM_AMOUNT.max()

.agg() yordamida istalgan funksiyalarni chaqirishimiz mumkin, misol uchun numpy dagi mean (o'rta qiymat) funiksiyasini ham qo'shamiz. Natijalarni faqat price ustuni uchun chiqaramiz:

#### **13-mashq**. Datasetdan jinsiga ko'ra CLAIM_AMOUNTning min, max va o'rta qiymatlarni agg() usuli yordamida toping.

In [34]:
# Javobni shuyerga yozing

df.groupby('SEX').CLAIM_AMOUNT.agg([min, max, np.mean])

     min     max          mean
SEX
0      2  520000  25960.356579
1      2  520000  29586.732405

In [ ]:
#@title **To'g'ri javob**
df.groupby('SEX').CLAIM_AMOUNT.agg([min, max, np.mean])